@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
* { box-sizing:border-box;}
body { font-family: 'Mulish', sans-serif;
background-image: url(/Desafio1y2M4/images/M4-desafio1-fondo.png);}

div { width: 50%; margin: auto;
background-image: url(/Desafio1y2M4/images/M4-desafio1-fondo-form.png); }

form { width: 600px; background: white;  margin: auto; height: 400px; padding: 20px; text-align:center; }

input, button { display: block; margin-bottom: 10px; margin: auto; font-size: 23px; padding: 10px; width: 500px; height: 50px;}

h1 { font-weight: 700; font-size: 33px;}

input { font-weight: 400; color: #414166; border: 1px solid #04146c;  }

button { font-weight: 600;background-color: #15163d; color: white;}


 